:host {
  .selections-container {
    display: flex;

    mat-form-field:first-of-type {
      margin-right: 2rem;
    }

    .all {
      margin-left: 2rem;
      margin-bottom: 1.25em; // Match mat-form-field
    }
  }

  .description {
    margin-top: 3rem;
  }
}
