@import "~@angular/material/theming";


@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  .agc-root {
    // Material overrides
    mat-expansion-panel-header {
      background-color: mat-color($accent, 50);
      border-top: 1px solid mat-color($accent, 300);
      border-bottom: 1px solid mat-color($accent, 300);
    }

    // Markdown table styling
    markdown table {
      tbody tr:nth-child(odd) {
        // Color doesn't exist in any material palettes and it is only used here
        background-color: #f7fafd;
      }

      td {
        border: 0.125rem solid mat-color($accent, 300);

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);

  .agc-root {
    // Markdown styling
    markdown {
      strong, table th {
        @include mat-typography-level-to-styles($config, subheading-2);
        font-weight: bold;
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
