@use '~@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map-get($config, primary);

  .agc-banner {
    background-color: mat.get-color-from-palette($primary, 900);

    .info {
      background-color: mat.get-color-from-palette($primary, 500);
      color: mat.get-color-from-palette($primary, "500-contrast");
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat.get-typography-config($config-or-theme);

  .agc-banner {
    .info {
      font: {
        family: mat.font-family($config, headline);
        size: mat.font-size($config, headline);
        weight: mat.font-weight($config, headline);
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
