:host {
  display: flex;
  flex-direction: row;
  height: 15rem;
  align-items: center;

  .info {
    display: flex;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 1rem;
    align-items: center;
  }

  .image {
    height: 15rem;
  }

  .filler {
    flex-grow: 1;
  }
}
