@import "~@angular/material/theming";

@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  .agc-page-menu {
    background-color: mat-color($accent, 50);

    mat-divider {
      color: mat-color($accent, 300);
    }

    mat-icon {
      color: mat-color($accent, 500);
    }

    .header {
      background-color: mat-color($primary, 700);
      color: mat-color($primary, "700-contrast");
    }

    .pages {
      background-color: mat-color($accent, A100);

      .link {
        color: mat-color($accent, "100-contrast");

        &.active > div {
          background-color: mat-color($accent, 300);
        }

        &:hover {
          color: mat-color($primary);
        }
      }
    }

    .info .link {
      color: mat-color($accent, default-contrast);

      &:hover {
        color: mat-color($primary);

        mat-icon {
          color: mat-color($primary);
        }
      }
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);

  .agc-page-menu {
    .header {
      @include mat-typography-level-to-styles($config, title);
    }

    .pages .link {
      .title {
        @include mat-typography-level-to-styles($config, subheading-2);
        font-weight: bold;
      }

      .description {
        @include mat-typography-level-to-styles($config, subheading-2);
      }
    }

    .info .link {
      @include mat-typography-level-to-styles($config, subheading-2);
    }
  }
}

@mixin theme($theme) {
  $color: mat-get-color-config($theme);
  $typography: mat-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
