::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

::ng-deep .mat-expansion-panel-header {
  background-color: #fafafa;
}

.agc-tour.wrapper {
  .container {
    .content {
      padding: 2rem;

      .mat-dialog-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        overflow: hidden;
      }
    }

    .close {
      .close-icon {
        float: right;
        margin-top: 1rem;
        margin-right: 1rem;
        cursor: pointer;
      }
    }

    .title {
      font-size: 2.25rem;
      margin-bottom: 0.5rem;
      text-align: left;
      font-weight: lighter;
    }
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .help-text {
      font-size: 1rem;
    }

    .gif-container {
      display: flex;
      justify-content: space-around;
      padding: 2rem;
    }

    .chevron-icon {
      font-size: 4rem;
      height: 4rem;
      width: 4rem;
      cursor: pointer;

      &.disabled {
        color: lightgray;
      }
    }
  }

  .slide-row {
    justify-content: space-around;
    display: flex;

    .slide-dots {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 9rem;

      .slide {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 3px solid darkgray;
        background-color: white;
        cursor: pointer;

        &.active {
          background-color: #2a4d87;
        }
      }
    }
  }

  .button-row {
    justify-content: flex-end;
    display: flex;

    .btn-outline {
      border-radius: 5px;
      border: 1px solid #6880aa;
      color:  #6880aa;
      background-color: white;
      width: 9rem;
      height: 2.5rem;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #6880aa;
        color: white;
      }
    }
  }
}
