:host {
  display: flex;
  flex-direction: row;
  width: 100%;

  .summary {
    flex-grow: 1;
    margin-right: 1rem;
  }

  .visualization-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    flex-shrink: 1;

    .visualization {
      &.no-data {
        display: none;
      }
    }
  }
}
