:host {
  .header {
    display: flex;
    height: 4rem;
    margin-bottom: 4.5rem;
    padding: 0 1rem;
    align-items: center;
  }

  .data-block {
    margin-top: 2rem;

    ngx-vega {
      margin-top: 2rem;
    }

    .time-spec {
      width: 75%;
    }
  }
}